// Fonts > Family
$font-family-default: 'Marvel', sans-serif;
$font-family-helper: 'Marvel', sans-serif;

// Fonts
$ft-size: 13;
$ft-heigth: 16;

// Default
$black: #000;
$white: #fff;

// BGS
$bg-default: #151515;
$bg-aux: #0A0909;
$bg-helper: #24E8FF;

// Box Shadow
$shadow-default: 0 0 20px rgba(#000, .25);
$shadow-aux: 0 0 20px rgba(#24E8FF, .15);

// Colors
$color-default: #DDD;
$color-aux: #FFC500;
$color-helper: #393434;

// Buttons
$btn-default: #fff;
$btn-aux: #ff0000;

// Icons
$icon-default: #393434;
$icon-aux: #FFC500;

// Line
$line-default: #393434;
$line-aux: #24E8FF;
$line-helper: #ff0000;

// Breackpoints
$mob: 320px;
$mob-large: 375px;
$mob-wide: 480px;
$phablet: 560px;
$tab: 768px;
$tab-small: 640px;
$tab-lands: 1024px;
$desk: 1200px;
$desk-wide: 1440px;
$dek-full: 1600px;
