// Fonts > Family
$font-family-default: Arial, sans-serif;
$font-family-helper: Arial , sans-serif;

// Fonts > size
$ft-size: 14;
$ft-heigth: 20;

// BGS
$bg-default: #fff;
$bg-aux: #000;
$bg-helper: #466883;

// Colors
$color-default: #fff;
$color-aux: #000;
$color-helper: #ddd;
$black: #000;
$white: #fff;

// Line
$line-default: #fff;
$line-aux: #fff;

// Buttons
$btn-default: #fff;
$btn-aux: #000;

// Breackpoints
$mob: 320px;
$mob-large: 375px;
$mob-wide: 480px;
$phablet: 560px;
$tab: 768px;
$tab-small: 640px;
$tab-lands: 1024px;
$desk: 1200px;
$desk-wide: 1440px;
$dek-full: 1600px;
